
.top-bar {
  width: 100vw;
  background-color: whitesmoke;
  height: 47px;
  margin: 0;

}

.title-center {
  text-align: center;
  font-size: 20px;
  line-height: 33px;
}

.top-title-center {
  direction: ltr;
}

.p-input-icon-left {
  margin-left: 18px;
}
